
        <footer class="pt-4 ms-5 me-5 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <img class="rounded-circle"" src="/static/assets/prof.jpeg" alt="" width="40" height="40">
                    <small class="d-block mb-3 text-muted">© A. Hurley, 2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Learn more</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">About NexTravel</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Developer</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/the-hull/code_portfolio">Project Portfolio</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">CV</a></li>
                    </ul>
                </div>
            </div>
        </footer>